// the ~ allows you to reference things in node_modules

@import "variables";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $primary;
    color: $white;
}

.page-content {
    margin-left: max(min(3%, 50px), 30px);
}

:root {
    --bs-dark-rgb: 104, 24, 24;
}