{% extends 'base.html.twig' %}

{% block stylesheets %}
   <style> 
      body{
         background-color:black;
         color:white;
      }
   </style>
{% endblock %}
  
{% block body %}
   <h1>Bienvenue !</h1>
{% endblock %}
